.bgColor {
  background-color: violet; }

.bgColorForm {
  background-color: violet; }

/*mapas y map get*/
h1 {
  color: violet; }

a {
  color: black; }

main div h2 {
  color: violet; }

main div h3 {
  color: violet; }

p {
  color: white; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

nav li {
  list-style-type: none;
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

/* alinear logo del header*/
.alignLogo {
  text-align: center; }

/*alinear lista del header*/
.alignListas {
  text-align: center; }

/*arreglos de etiquetas a*/
a {
  text-decoration: none;
  padding: 0px; }

h1 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 30px;
  margin-bottom: 30px; }

/* arreglo h2 del main*/
main div h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 30px;
  margin-bottom: 30px; }

main div h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 30px;
  margin-bottom: 30px; }

p {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

/*h2 centrados de index y servicios */
h2 {
  text-align: center; }

.margenlistasservicios {
  margin-top: 20px;
  margin-bottom: 20px; }

ul li p {
  margin-top: 15px;
  margin-bottom: 15px; }

/* imagen de fondo del main*/
.gridbgimg {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "bgImg"; }

.bgImg {
  background-image: url(../assets/img/mainfotoladrillo.jpg); }

/* centro ride del main del index*/
.centrarRide {
  text-align: center; }

/*iframes de artistas border*/
iframe {
  border-width: 5px;
  border-style: solid; }

/*tamanio imagenes de nosotros*/
.tamanioImgEstudio1Nosotros {
  width: 800px; }

.tamanioImgEstudio2Nosotros {
  width: 800px; }

/* listas de servicios*/
.listasServicios {
  list-style-type: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: violet; }

/*grid y felx pagina artistas*/
.gridContainerArtistas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "fotogabicentrado" "nombregabicentrado" "nombreezecentrado" "fotoezecentrado" "iframecentradogabi" "nombrecanciontodocentrado" "nombrecancionbuscocentrado" "nombrecancionmemoriascentrado" "iframeezecentrado"; }

.fotogabicentrado {
  grid-area: fotogabicentrado;
  display: flex;
  justify-content: center; }

.nombregabicentrado {
  grid-area: nombregabicentrado;
  display: flex;
  justify-content: center; }

.nombreezecentrado {
  grid-area: nombreezecentrado;
  display: flex;
  justify-content: center; }

.fotoezecentrado {
  grid-area: fotoezecentrado;
  display: flex;
  justify-content: center; }

.iframecentradogabi {
  grid-area: iframecentradegbi;
  display: flex;
  justify-content: center; }

.nombrecanciontodocentrado {
  grid-area: nombrecancionodocentrado;
  display: flex;
  justify-content: center; }

.nombrecancionbuscocentrado {
  grid-area: nombrecancionbuscocentrado;
  display: flex;
  justify-content: center; }

.nombrecancionmemoriascentrado {
  grid-area: nombrecancionmemoriascentrado;
  display: flex;
  justify-content: center; }

.iframeezecentrado {
  grid-area: iframeezecentrado;
  display: flex;
  justify-content: center; }

main {
  grid-area: main; }

/*flex para index video adelanto centrado*/
.flexvideocentrado {
  display: flex;
  justify-content: center; }

/*flex para fotos centradas Nosotros USO EXTEND*/
.imagen1centradanosotros, .imagen2centradanosotros {
  display: flex;
  justify-content: center;
  margin-top: 40px; }

.imagen2centradanosotros {
  margin-bottom: 40px; }

/* tamanio imagenes*/
.tamanioImgGabi {
  width: 400px; }

.tamanioImgEze {
  width: 400px; }

/* alinear los h2 de pagina artistas*/
.h2InlineArtistaGabi {
  display: inline; }

.h2InlineArtistaEze {
  display: inline; }

/* div de ezequiel separarlo del div de gabi */
.divGabi {
  display: inline-block; }

.divEze {
  display: inline-block; }

/* alinear lista del footer*/
.alignListasFooter {
  text-align: center; }

.formCentrado {
  text-align: center; }

.bgColorForm {
  background-color: violet;
  border-width: 5px;
  border-color: white;
  border-style: solid;
  max-width: 400px;
  display: flex;
  justify-content: center; }

/*mediaquerie artistas*/
@media only screen and (max-width: 768px) {
  .gridmobileartistas {
    display: grid;
    grid-template-areas: "header"  "main"  "footer"; }
  header {
    grid-area: header; }
  nav {
    display: flex;
    flex-direction: column;
    max-width: 100vw; }
  main {
    grid-area: main; }
  footer {
    grid-area: footer; }
  .gridContainerArtistas {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "gridnavimgheader" "fotogabicentrado" "nombregabicentrado" "nombreezecentrado" "fotoezecentrado" "iframecentradogabi" "nombrecanciontodocentrado" "nombrecancionbuscocentrado" "nombrecancionmemoriascentrado" "iframeezecentrado"; }
  .fotogabicentrado {
    grid-area: fotogabicentrado;
    display: flex;
    justify-content: center;
    max-width: 400px; }
  .nombregabicentrado {
    grid-area: nombregabicentrado;
    display: flex;
    justify-content: center; }
  .nombreezecentrado {
    grid-area: nombreezecentrado;
    display: flex;
    justify-content: center; }
  .fotoezecentrado {
    grid-area: fotoezecentrado;
    display: flex;
    justify-content: center;
    max-width: 400px;
    width: 100%; }
  .iframecentradogabi {
    grid-area: iframecentradegbi;
    display: flex;
    justify-content: center;
    max-width: 100vw; }
  .nombrecanciontodocentrado {
    grid-area: nombrecancionodocentrado;
    display: flex;
    justify-content: center; }
  .nombrecancionbuscocentrado {
    grid-area: nombrecancionbuscocentrado;
    display: flex;
    justify-content: center; }
  .nombrecancionmemoriascentrado {
    grid-area: nombrecancionmemoriascentrado;
    display: flex;
    justify-content: center; }
  .iframeezecentrado {
    grid-area: iframeezecentrado;
    display: flex;
    max-width: 400px;
    justify-content: center;
    width: 100%; }
  .alignLogo {
    width: 100vw; }
  .imglogo {
    text-align: center; }
  .tamanioImgEze {
    text-align: center;
    width: 70%; }
  .tamanioImgGabi {
    text-align: center;
    width: 70%; }
  .iframeezeartistascentrado {
    display: flex;
    max-width: 400px;
    justify-content: center; }
  .overFlowEze {
    width: 100%; } }

/*mediaquerie contacto formulario*/
@media only screen and (max-width: 768px) {
  .gridmobilecontacto {
    display: grid;
    grid-template-areas: "header"  "main"  "footer"; }
  header {
    grid-area: header; }
  nav {
    display: flex;
    flex-direction: column;
    max-width: 100vw; }
  main {
    grid-area: main; }
  footer {
    grid-area: footer; }
  .form-contacto {
    max-width: 300px; } }

.form-contacto {
  align-items: center; }

.form-contacto {
  width: 400px;
  background: violet;
  padding: 30px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #000; }

.form-contacto h4 {
  font-size: 22px;
  margin-bottom: 20px; }

.controles {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  color: white; }

.form-contacto p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px; }

.form-contacto a {
  color: white;
  text-decoration: none; }

.form-contacto a:hover {
  color: white;
  text-decoration: underline; }

.form-contacto .botones {
  width: 100%;
  background: #24303c;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px; }

/*mediaquerie nosotros*/
@media only screen and (max-width: 768px) {
  .gridmobilenosotros {
    display: grid;
    grid-template-areas: "header"  "main"  "footer"; }
  header {
    grid-area: header; }
  nav {
    display: flex;
    flex-direction: column;
    max-width: 100vw; }
  main {
    grid-area: main; }
  footer {
    grid-area: footer; }
  .titulonosotroscentrado {
    display: flex;
    justify-content: center; }
  .gridmainnosotros {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: "titulonosotroscentrado" "parrafogridnosotros" "tamanioImgEstudio1Nosotros" "tamanioImgEstudio2Nosotros"; }
  .titulonosotroscentrado {
    grid-area: titulonosotroscentrado;
    display: flex;
    justify-content: center; }
  .parrafogridnosotros {
    grid-area: parrafogridnosotros;
    display: flex;
    justify-content: center; }
  .tamanioImgEstudio1Nosotros {
    grid-area: tamanioImgEstudio1Nosotros;
    display: flex;
    justify-content: center;
    max-width: 370px; }
  .tamanioImgEstudio2Nosotros {
    grid-area: tamanioImgEstudio2Nosotros;
    display: flex;
    justify-content: center;
    max-width: 370px; } }
