/* tamanio imagenes*/
.tamanioImgGabi{
    width: 400px;
}
.tamanioImgEze{
    width: 400px;
    
}
/* alinear los h2 de pagina artistas*/
.h2InlineArtistaGabi{
    display: inline;
}
.h2InlineArtistaEze{
    display: inline;
}
/* div de ezequiel separarlo del div de gabi */
.divGabi{
    display:inline-block;
}
.divEze{
    display:inline-block;
}