$bgcolorheader:violet;
.bgColor{background-color: $bgcolorheader;}

$colordeA: black;
a{color: $colordeA;}

$colordeh1main:violet;
h1{color: $colordeh1main;}

$colordeh2main:violet;
main div h2{color: $colordeh2main;}

$colrodeh3main:violet;
main div h3{color: $colordeh2main;}

$colordep:white;
p{color: $colordep;}

$colorbgdelform:violet;
.bgColorForm{background-color: $colorbgdelform;}