.formCentrado{
    text-align: center;
    
}

@mixin propiedadesformulario($bgcolor,$borderwidth,$bordercolor,$borderstyle,$maxwidth,$displaylex,$justifycontent){
    background-color: $bgcolor;
    border-width: $borderwidth;
    border-color: $bordercolor;
    border-style: $borderstyle;
    max-width: $maxwidth;
    display: $displaylex;
    justify-content: $justifycontent;
}

.bgColorForm{
    @include propiedadesformulario(violet ,5px ,white ,solid ,400px ,flex ,center )
}